{% extends 'layout.twig' %}
{% block title %}
    Users list
{% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Username</th>
            <th>Created at</th>
            <th>Last login</th>
            <th>Payed membership fee</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td><a  href="/user/profile?user_id={{ user.id }}">{{ user.email }}</a></td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.created_at|date('m/d/Y h:i A') }}</td>
                <td>{{ (user.last_login) ? user.last_login|date('m/d/Y h:i A') : '-' }}</td>
                <td><span class="text-{{ user.payed_fee ? 'success' : 'danger' }}">{{ user.payed_fee ? user.payed_fee|number_format(2, '.', ',') ~ '$' : 'No' }}</span></td>
                <td>{{ roles[user.role] }}</td>
                <td>
                    <a  href="/user/balance?user_id={{ user.id }}" class="btn btn-primary btn-xs">Transactions</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}