{% extends 'layout.twig' %}
{% block title %}
    Join tournament "{{ tournament.name }}"
{% endblock %}

{% block content %}
    <form onsubmit="return checkboxes_validate()" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="debate_type">Debate <span style="color: red">*</span></label>
            <select onchange="loadEvent(this.value)" required name="debate_type" class="form-control" id="debate_type">
                <option value="" selected>Choose debate</option>
                {% for event in events %}
                    <option value="{{ event.id }}">{{ event.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div id="event-details" style="display: none">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-bottom: 0">
                    <p><b>Cost:</b> <span id="event-details-cost"></span>$</p>
                    <p><b>Drop after deadline fee:</b> <span id="event-details-drop_cost"></span>$</p>
                    <p><b>Type:</b> <span id="event-details-debate_type"></span></p>
                    <div class="form-group" id="event-details-partner" style="display: none">
                        <label for="partner_id">Choose partner <span style="color: red">*</span></label>
                        <select disabled required name="partner_id" class="form-control" id="partner_id">
                            <option value="" selected>Choose partner</option>
                            {% for site_user in users %}
                                {% if site_user.id != user.id %}
                                    <option value="{{ site_user.id }}">{{ site_user.username }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <p><b>Description:</b> {{ tournament.description ? tournament.description : 'Not specified' }}</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="judge_name">Judge name</label>
            <input type="text" name="judge_name" class="form-control" id="judge_name">
        </div>
        <div class="form-group">
            <label for="judge_email">Judge email</label>
            <input type="email" name="judge_email" class="form-control" id="judge_email">
        </div>
        {% if attributes|length > 0 %}
            {% for attribute in attributes %}
                <div class="form-group">
                    <label for="attr_{{ attribute.id }}">{{ attribute.label }} {{ (attribute.required) ? '<span style="color: red">*</span>' : '' }}</label>
                    {% if attribute.type == 0 %}
                        <input {{ (attribute.required) ? 'required' : '' }} name="attr_{{ attribute.id }}" type="text" class="form-control" id="attr_{{ attribute.id }}" placeholder="{{ attribute.placeholder }}">
                    {% elseif attribute.type == 1 %}
                        <select {{ (attribute.required) ? 'required' : '' }} class="form-control" name="attr_{{ attribute.id }}">
                            {% for item in attribute.data %}
                                <option value="{{ loop.index0 }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    {% elseif attribute.type == 2 %}
                        {% for item in attribute.data %}
                            <div>
                                <input class="{{ (attribute.required) ? 'required_checkbox' : '' }}" type="checkbox" id="attr_{{ attribute.id }}_{{ loop.index0 }}" name="attr_{{ attribute.id }}[]" value="{{ loop.index0 }}">
                                <label style="font-weight: normal;" for="attr_{{ attribute.id }}_{{ loop.index0 }}">{{ item }}</label>
                            </div>
                        {% endfor %}
                    {% elseif attribute.type == 3 %}
                        <input accept="application/pdf" {{ (attribute.required) ? 'required' : '' }} name="attr_{{ attribute.id }}" type="file" id="attr_{{ attribute.id }}">
                    {% endif %}

                    {% if attribute.help_text %}
                        <p class="help-block">{{ attribute.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        <div>
            <input required type="checkbox">
            <label style="font-weight: normal;">I agree to the <a target="_blank" href="/pages/terms">terms of service</a></label>
        </div>
        <button class="btn btn-success btn-block"><i class="fa fa-check"></i> Join this tournament</button>
    </form>

    <script>
        var available_events = JSON.parse('{{ events|json_encode|raw }}');
        function loadEvent(event_id)
        {
            $("#event-details").hide();
            available_events.forEach(function(item) {
                if (item.id == event_id)
                {
                    $("#event-details-cost").text(item.cost);
                    $("#event-details-drop_cost").text(item.drop_fee_cost);
                    var is_single = item.type == 0;
                    $("#event-details-debate_type").text(is_single ? 'Single' : 'With partner');

                    if (!is_single)
                    {
                        $("#event-details-partner select").removeAttr('disabled');
                        $("#event-details-partner").css('display', 'block');
                    }
                    else
                    {
                        $("#event-details-partner select").attr('disabled', true);
                        $("#event-details-partner").css('display', 'none');
                    }

                    $("#event-details").show();
                }
            })
        }

        function checkboxes_validate()
        {
            var status = true;
            // validate checkboxes
            var required_checkboxes = [];
            $(".required_checkbox").each(function() {
                if (required_checkboxes.indexOf($(this)[0].name) == -1)
                {
                    required_checkboxes.push($(this)[0].name);
                }
            });

            required_checkboxes.forEach(function(item) {
                var item_accessor = $("input[name='"+ item +"']");
                item_accessor.parent().parent().removeClass('has-error');
                if ($("input[name='"+ item +"']:checked").length == 0)
                {
                    item_accessor.parent().parent().addClass('has-error');
                    status = false;
                    $('html, body').animate({
                        scrollTop: item_accessor.offset().top - 25
                    }, 100);
                    return;
                }
            });

            return status;
        }
    </script>
{% endblock %}