{% extends 'layout.twig' %}
{% block title %}
    Tournament history
{% endblock %}

{% block content_header %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" style="width: 100%">Current tournaments</h3>
        </div>
        <div class="box-body">
            {% if tournaments|length %}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Registration start</th>
                        <th>Registration end</th>
                        <th>Drop deadline</th>
                        <th>Tournament start</th>
                        <th>Tournament end</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tournament in tournaments %}
                        {% if tournament.reg_started and not tournament.reg_ended %}
                            <tr>
                                <td>{{ tournament.id }}</td>
                                <td>{{ tournament.name }}</td>
                                <td>{{ tournament.event_start|date('m/d/Y h:i A') }}</td>
                                <td>{{ tournament.entry_deadline|date('m/d/Y h:i A') }}</td>
                                <td>{{ tournament.drop_deadline|date('m/d/Y h:i A') }}</td>
                                <td>{{ tournament.date_start|date('m/d/Y') }}</td>
                                <td>{{ tournament.date_end|date('m/d/Y') }}</td>
                                <td>
                                    <a href="/tournament/join/{{ tournament.id }}" class="btn btn-xs btn-primary">Join</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No tournaments found.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if history|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tournament</th>
                    <th>Event</th>
                    <th>Partner</th>
                    <th>Status</th>
                    <th>Registration end</th>
                    <th>Drop deadline</th>
                    <th>Tournament start</th>
                    <th>Tournament end</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in history %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.tournament_name }}</td>
                        <td>{{ item.event_name }}</td>
                        <td>
                            {% if item.partner_id is null %}
                                No
                            {% else %}
                                {% if user.id == item.partner_id %}
                                    {{ item.owner_name }}
                                {% else %}
                                    {{ item.partner_name }}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {% if user.id == item.partner_id %}
                                {% if item.status == 3 %}
                                    <span class="label {{ event_colors[item.status] }}">{{ event_status[item.status]|replace({'partner': 'your'}) }}</span>
                                {% elseif item.status == 4 %}
                                    <span class="label {{ event_colors[item.status] }}">{{ event_status[item.status]|replace({'partner': 'your decision'}) }}</span>
                                {% else %}
                                    <span class="label {{ event_colors[item.status] }}">{{ event_status[item.status] }}</span>
                                {% endif %}
                            {% else %}
                                <span class="label {{ event_colors[item.status] }}">{{ event_status[item.status] }}</span>
                            {% endif %}
                        </td>
                        <td>{{ item.entry_deadline|date('m/d/Y h:i A') }}</td>
                        <td>{{ item.drop_deadline|date('m/d/Y h:i A') }}</td>
                        <td>{{ item.date_start|date('m/d/Y') }}</td>
                        <td>{{ item.date_end|date('m/d/Y') }}</td>
                        <td>
                            <a href="/tournament/view/{{ item.id }}" class="btn btn-xs btn-info">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tournaments found.</p>
    {% endif %}

    <script>
        $(function() {
            $("table").tablesorter({
            });
        });
    </script>
{% endblock %}