{% extends 'layout.twig' %}
{% block title %}
    Tournament list
{% endblock %}

{% block content %}
    {% if tournaments|length %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Registration start</th>
                    <th>Registration end</th>
                    <th>Drop deadline</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tournament in tournaments %}
                    {% if tournament.reg_started and not tournament.reg_ended %}
                        <tr>
                            <td>{{ tournament.id }}</td>
                            <td>{{ tournament.name }}</td>
                            <td>{{ tournament.event_start|replace({'-': '/'}) }}</td>
                            <td>{{ tournament.entry_deadline|replace({'-': '/'}) }}</td>
                            <td>{{ tournament.drop_deadline|replace({'-': '/'}) }}</td>
                            <td>
                                <a href="/tournament/join/{{ tournament.id }}" class="btn btn-xs btn-primary">Join</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No tournaments found.</p>
    {% endif %}
{% endblock %}