{% extends 'layout.twig' %}
{% block title %}
    Tournament view
{% endblock %}

{% block content_header %}
    {% if admin_mode %}
        <div class="alert bg-blue-gradient alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-user"></i> Admin mode</h4>
            You are viewing join information of event <b>{{ event.event_name }}</b>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="list-group" style="margin-bottom: 0">
        <li class="list-group-item"><b>Tournament: </b>{{ event.tournament_name }}</li>
        <li class="list-group-item"><b>Status: </b><span class="label {{ event_colors[event.event_status] }}">{{ event_statuses[event.event_status] }}</span></li>
        <li class="list-group-item"><b>Description: </b>{{ event.tournament_description ? event.tournament_description : 'Not specified' }}</li>
        <li class="list-group-item"><b>Event: </b>{{ event.event_name }}</li>
        <li class="list-group-item"><b>Cost: </b>{{ event.cost|number_format(2, '.', ',') }}$</li>

        <li class="list-group-item"><b>Drop after deadline cost: </b>{{ event.drop_fee_cost|number_format(2, '.', ',') }}$</li>
        <li class="list-group-item"><b>Registration start: </b>{{ event.event_start|replace({'-': '/'}) }}</li>
        <li class="list-group-item"><b>Registration end: </b>{{ event.entry_deadline|replace({'-': '/'}) }}</li>
        <li class="list-group-item"><b>Drop deadline: </b>{{ event.drop_deadline|replace({'-': '/'}) }}</li>

        <li class="list-group-item"><b>Partner: </b>
            {% if event.partner_id is null %}
                No
            {% else %}
                {% if user.id == event.partner_id %}
                    {{ event.owner_name }}
                {% else %}
                    {{ event.partner_name }}
                {% endif %}
            {% endif %}
        </li>
        {% for attribute in attributes %}
            <li class="list-group-item"><b>{{ attribute.label }}</b>:
                {% if attribute.type == 2 %}
                    {{ (not attribute.value is null) ? attribute.value|join(', ') : 'Not specified' }}
                {% elseif attribute.type == 3 %}
                    {% if attribute.value %}
                        <button onclick="showAttach({{ attribute.user_attr_id }})" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> View</button>
                    {% else %}
                        Not specified
                    {% endif %}
                {% else %}
                    {{ (not attribute.value is null) ? attribute.value : 'Not specified' }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    {% if not event.partner_id is null and event.event_status == 3 %}
        {% if user.id == event.partner_id %}
            <button onclick="setDecision(1)" style="margin-top: 15px" class="btn btn-block btn-success"><i class="fa fa-check"></i> Accept request</button>
            <button onclick="setDecision(0)" class="btn btn-block btn-danger"><i class="fa fa-remove"></i> Decline request</button>
        {% endif %}
    {% endif %}

    {% if not (user.id == event.partner_id and event.event_status == 3) and event.event_status in [0,1,3] and not admin_mode %}
        <button style="margin-top: 15px" onclick="dropTournament()" class="btn btn-block btn-danger"><i class="fa fa-remove"></i> Drop tournament</button>
    {% endif %}


    <script>

        {% if event.event_status in [0, 1, 3] %}
            function dropTournament()
            {
                $.post('/tournament/drop/{{ global.request.get('eventId') }}', {}, function(response) {
                    if (response == 'ok')
                    {
                        window.location = '/tournament/list';
                    }
                    else
                    {
                        window.location = window.location;
                    }
                });
            }
        {% endif %}

        function showAttach(id)
        {
            {% if admin_mode %}
                window.open('/attachment/' + id + '?user_id={{ event.user_id }}', '_blank');
            {% else %}
                window.open('/attachment/' + id, '_blank');
            {% endif %}
        }

        function setDecision(state)
        {
            $.post(window.location, {decision: state}, function(response) {
                if (response == 'no')
                {
                    window.location = window.location;
                }
                else
                {
                    window.location = '/tournament/list';
                }
            });
        }
    </script>
{% endblock %}