{% extends 'layout.twig' %}
{% block title %}
    Sign up
{% endblock %}

{% block stylesheet %}
    <style>
        .StripeElement {
            background-color: white;
            padding: 8px 12px;
            border: 1px solid #d2d6de;
        }

        .StripeElement--focus {
            border: 1px solid #66afe9;
        }

        .StripeElement--invalid {
            border-color: #fa755a;
        }

        .StripeElement--webkit-autofill {
            background-color: #fefde5 !important;
        }
    </style>
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" id="signup_form" method="POST">

        <blockquote>
            <p>General information</p>
        </blockquote>

        <div class="form-group">
            <label for="email">Email address <span style="color: red">*</span></label>
            <input name="email" type="email" required class="form-control" id="email" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="password">Password <span style="color: red">*</span></label>
            <input name="password" onkeyup="passwords_equal()" type="password" required class="form-control" id="password" placeholder="Password">
        </div>

        <div class="form-group">
            <label for="confirm_password">Confirm password <span style="color: red">*</span></label>
            <input type="password" onkeyup="passwords_equal()" required class="form-control" id="confirm_password" placeholder="Confirm password">
        </div>

        <div class="form-group">
            <label for="first_name">First name <span style="color: red">*</span></label>
            <input name="first_name" type="text" required class="form-control" id="first_name" placeholder="ex. Alex">
        </div>

        <div class="form-group">
            <label for="last_name">Last name <span style="color: red">*</span></label>
            <input name="last_name" type="text" required class="form-control" id="last_name" placeholder="ex. Hoffman">
        </div>

        <blockquote>
            <p>Parent information</p>
        </blockquote>

        <div class="form-group">
            <label for="parent_email">Parent email</label>
            <input name="parent_email" type="email" class="form-control" id="parent_email" placeholder="Parent email">
        </div>

        <div class="form-group">
            <label for="parent_first_name">Parent first name</label>
            <input name="parent_first_name" type="text" class="form-control" id="parent_first_name" placeholder="ex. Alex">
        </div>

        <div class="form-group">
            <label for="parent_last_name">Parent last name</label>
            <input name="parent_last_name" type="text" class="form-control" id="parent_last_name" placeholder="ex. Hoffman">
        </div>

        {% if attributes|length > 0 %}
            <blockquote>
                <p>Other information</p>
            </blockquote>

            {% for attribute in attributes %}
                <div class="form-group">
                    <label for="attr_{{ attribute.id }}">{{ attribute.label }} {{ (attribute.required) ? '<span style="color: red">*</span>' : '' }}</label>
                    {% if attribute.type == 0 %}
                        <input {{ (attribute.required) ? 'required' : '' }} name="attr_{{ attribute.id }}" type="text" class="form-control" id="attr_{{ attribute.id }}" placeholder="{{ attribute.placeholder }}">
                    {% elseif attribute.type == 1 %}
                        <select {{ (attribute.required) ? 'required' : '' }} class="form-control" name="attr_{{ attribute.id }}">
                            {% for item in attribute.data %}
                                <option value="{{ loop.index0 }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    {% elseif attribute.type == 2 %}
                        {% for item in attribute.data %}
                            <div>
                                <input class="{{ (attribute.required) ? 'required_checkbox' : '' }}" type="checkbox" id="attr_{{ attribute.id }}_{{ loop.index0 }}" name="attr_{{ attribute.id }}[]" value="{{ loop.index0 }}">
                                <label style="font-weight: normal;" for="attr_{{ attribute.id }}_{{ loop.index0 }}">{{ item }}</label>
                            </div>
                        {% endfor %}
                    {% elseif attribute.type == 3 %}
                        <input accept="application/pdf" {{ (attribute.required) ? 'required' : '' }} name="attr_{{ attribute.id }}" type="file" id="attr_{{ attribute.id }}">
                    {% endif %}

                    {% if attribute.help_text %}
                        <p class="help-block">{{ attribute.help_text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}


        {% if system_settings.get('membership_fee') > 0 and system_settings.get('payment_allowed') == 1 %}
            <blockquote>
                <p>Membership contribution</p>
            </blockquote>
            <h4>Recommended membership contribution: {{ system_settings.get('membership_fee') }}$</h4>
            <p>It's not required, but if you want pay membership contribution, enter your credit card data to form below. Remember, <b>we don't store</b> your credit card data on our servers.</p>

            <div style="width: 500px">
                <div id="card-element"></div>
                <div id="card-errors" class="text-danger" role="alert"></div>
            </div>
        {% endif %}

        <div>
            <input required type="checkbox">
            <label style="font-weight: normal;">I agree to the <a href="/pages/terms">terms of service</a></label>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Sign up</button>
        </div>

        <input type="hidden" id="stripe_token" name="stripe_token" value=""/>
    </form>

{% endblock %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
    <script>

        function passwords_equal()
        {
            var cp = $("#confirm_password");
            if (cp.val() === '') return;
            var pe = $("#password").val() === cp.val();
            if (pe)
            {
                cp.parent().removeClass('has-error').addClass('has-success');
            }
            else
            {
                cp.parent().removeClass('has-success').addClass('has-error');
            }
            return pe;
        }


        function checkboxes_validate()
        {
            var status = true;
            // validate checkboxes
            var required_checkboxes = [];
            $(".required_checkbox").each(function() {
                if (required_checkboxes.indexOf($(this)[0].name) == -1)
                {
                    required_checkboxes.push($(this)[0].name);
                }
            });

            required_checkboxes.forEach(function(item) {
                var item_accessor = $("input[name='"+ item +"']");
                item_accessor.parent().parent().removeClass('has-error');
                if ($("input[name='"+ item +"']:checked").length == 0)
                {
                    item_accessor.parent().parent().addClass('has-error');
                    status = false;
                    $('html, body').animate({
                        scrollTop: item_accessor.offset().top - 25
                    }, 100);
                    return;
                }
            });

            return status;
        }

        function register(form, token)
        {
            if (token !== null)
            {
                $("#stripe_token").val(token);
            }

            if (!passwords_equal())
            {
                $('html, body').animate({
                    scrollTop: $("#confirm_password").offset().top - 25
                }, 100);
                return false;
            }

            if (!checkboxes_validate()) return false;

            form.submit();
        }

        {% if system_settings.get('membership_fee') > 0 and system_settings.get('payment_allowed') == 1 %}
            var stripe = Stripe('{{ system_settings.get('stripe_key') }}');
            var elements = stripe.elements();
            var style = {
                base: {
                    color: '#32325d',
                    lineHeight: '24px',
                    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                    fontSmoothing: 'antialiased',
                    fontSize: '16px',
                    '::placeholder': {
                        color: '#000000'
                    }
                },
                invalid: {
                    color: '#fa755a',
                    iconColor: '#fa755a'
                }
            };
            var card = elements.create('card', {style: style});
            card.mount('#card-element');
            card.addEventListener('change', function(event) {
                var displayError = document.getElementById('card-errors');
                if (event.error) {
                    displayError.textContent = event.error.message;
                } else {
                    displayError.textContent = '';
                }
            });
        {% endif %}

        // Handle form submission
        var form = document.getElementById('signup_form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            {% if system_settings.get('membership_fee') > 0 and system_settings.get('payment_allowed') == 1 %}
                if ($(".StripeElement--empty").length == 0)
                {
                    stripe.createToken(card).then(function(result) {
                        if (result.error) {
                            var errorElement = document.getElementById('card-errors');
                            errorElement.textContent = result.error.message;
                        } else {
                            register(form, result.token.id);
                        }
                    });
                }
                else
                {
                    register(form, null);
                }
            {% else %}
                register(form, null);
            {% endif %}
        });
    </script>
{% endblock %}