{% extends 'layout.twig' %}
{% block title %}
    Tournament fields
{% endblock %}

{% block content_header %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" style="width: 100%">Tournament information</h3>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label for="tournament_name">Name <span style="color: red">*</span></label>
                <input {{ is_started ? 'disabled' : '' }} value="{{ data.tournament.name }}" name="name" type="text" required class="form-control" id="tournament_name" placeholder="Name of tournament">
            </div>

            <div class="form-group">
                <label for="reg_start">Registration start date <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input {{ is_started ? 'disabled' : '' }} value="{{ data.tournament.event_start }}" name="reg_start" class="form-control" id="reg_start" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="reg_deadline">Registration deadline <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input value="{{ data.tournament.entry_deadline }}" name="reg_deadline" class="form-control" id="reg_deadline" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="drop_deadline">Drop deadline <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input value="{{ data.tournament.drop_deadline }}" name="drop_deadline" class="form-control" id="drop_deadline" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="approve_method">Approve members method <span style="color: red">*</span></label>
                <select name="approve_method" id="approve_method" class="form-control">
                    <option {{ data.tournament.approve_method == 0 ? 'selected' : '' }} value="0">Auto</option>
                    <option {{ data.tournament.approve_method == 1 ? 'selected' : '' }} value="1">Manually</option>
                </select>
            </div>

            <div class="form-group">
                <label for="start_date">Tournament start date <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input value="{{ data.tournament.date_start }}" name="start_date" class="form-control" id="start_date" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="end_date">Tournament end date <span style="color: red">*</span></label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <input value="{{ data.tournament.date_end }}" name="end_date" class="form-control" id="end_date" type="text">
                </div>
            </div>

            <div class="form-group">
                <label for="description">Tournament description</label>
                <textarea id="description" class="form-control" name="description">{{ data.tournament.description }}</textarea>
            </div>

            <button onclick="persistData()" class="btn btn-success btn-block"><i class="fa fa-check"></i> Save all changes</button>
        </div>
    </div>

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" style="width: 100%">Tournament events</h3>
        </div>
        <div class="box-body">
            {% if not is_started %}
                <button style="margin-bottom: 15px" onclick="addNewObject('debates')" class="btn btn-primary"><i class="fa fa-plus"></i> Add new event</button>
            {% endif %}
            <div id="debates">
                {% for event in data.events %}
                    <form id="dt_{{ loop.index0 }}" data-id="{{ event.id }}">
                        <div class="panel panel-default">
                            <div class="panel-body" style="padding-bottom: 0">

                                <div class="form-group">
                                    <label for="dt_name">Name <span style="color: red">*</span></label>
                                    <input {{ is_started ? 'disabled' : '' }} required value="{{ event.name }}" name="dt_name" id="dt_name" class="form-control" type="text" />
                                </div>

                                <div class="form-group">
                                    <label for="dt_type">Type</label>
                                    <select {{ is_started ? 'disabled' : '' }} name="dt_type" id="dt_type" class="form-control">
                                        <option {{ event.type == 0 ? 'selected' : '' }} value="0">Single</option>
                                        <option {{ event.type == 1 ? 'selected' : '' }} value="1">With partner</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="dt_cost">Cost <span style="color: red">*</span></label>
                                    <input {{ is_started ? 'disabled' : '' }} value="{{ event.cost }}" required name="dt_cost" id="dt_cost" type="number" class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label for="dt_drop_cost">Drop fee after deadline <span style="color: red">*</span></label>
                                    <input {{ is_started ? 'disabled' : '' }} value="{{ event.drop_fee_cost }}" required name="dt_drop_cost" id="dt_drop_cost" type="number" class="form-control" />
                                </div>

                                {% if not is_started %}
                                    <button type="button" onclick="removeField(this, 'event', {{ event.id }})" class="btn btn-danger" style="margin-bottom: 15px"><i class="fa fa-remove"></i> Remove event</button>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if not is_started %}
        <button onclick="addNewObject('fields')" class="btn btn-primary"><i class="fa fa-plus"></i> Add new field</button>
    {% endif %}

    <div id="fields" style="margin-top: 20px">
        {% for attribute in attributes %}
            <form id="attr_{{ loop.index0 }}" data-id="{{ attribute.id }}">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-bottom: 0">
                        <div class="form-group">
                            <label for="attr">Label</label>
                            <input {{ is_started ? 'disabled' : '' }} name="label" value="{{ attribute.label }}" class="form-control" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="attr">Type</label>
                            <select disabled name="type" onchange="_showFields({{ loop.index0 }}, this.value)" class="form-control">
                                {% for type in attribute_types %}
                                    <option {{ (attribute.type == loop.index0) ? 'selected' : '' }} value="{{ loop.index0 }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div id="attr_{{ loop.index0 }}_text" style="display: {{ (attribute.type != 1) ? 'block' : 'none' }}">
                            <div class="form-group">
                                <label for="attr">Placeholder</label>
                                <input {{ is_started ? 'disabled' : '' }} value="{{ attribute.placeholder }}" name="placeholder" type="text" class="form-control" />
                            </div>
                        </div>

                        <div id="attr_{{ loop.index0 }}_dropdown" style="display: {{ (attribute.type == 1 or attribute.type == 2) ? 'block' : 'none' }}">
                            <div class="form-group">
                                <p><b>Items:</b>
                                    {% if not is_started %}
                                        <button type="button" onclick="_addDropdownItem({{ loop.index0 }})" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Add item</button></p>
                                    {% endif %}
                                    <div id="attr_{{ loop.index0 }}_dropdown_items">
                                    {% if attribute.type == 1 or attribute.type == 2 %}
                                        {% for item in attribute.data %}
                                            <div class="form-group form-inline">
                                                <input readonly value="{{ item }}" type="text" name="dropdown_item" class="form-control" style="width:300px; margin-right: 10px">
                                                <!--<button onclick="_removeDropdownItem(this)" class="btn btn-danger"><i class="fa fa-remove"></i></button>-->
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="attr">Help text</label>
                            <input {{ is_started ? 'disabled' : '' }} value="{{ attribute.help_text }}" name="help_text" type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="attr">Required</label>
                            <select {{ is_started ? 'disabled' : '' }} name="required" class="form-control">
                                <option {{ (attribute.required) ? '' : 'selected' }} value="0">No</option>
                                <option {{ (attribute.required) ? 'selected' : '' }} value="1">Yes</option>
                            </select>
                        </div>
                        {% if not is_started %}
                            <button type="button" onclick="removeField(this, 'field', {{ attribute.id }})" class="btn btn-danger" style="margin-bottom: 15px"><i class="fa fa-remove"></i> Remove field</button>
                        {% endif %}
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>

    <script type="text/html" id="debates-template">
        <form id="debates_$1">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-bottom: 0">
                    <div class="form-group">
                        <label for="dt_name">Name <span style="color: red">*</span></label>
                        <input required name="dt_name" id="dt_name" class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <label for="dt_type">Type</label>
                        <select name="dt_type" id="dt_type" class="form-control">
                            <option value="0">Single</option>
                            <option value="1">With partner</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="dt_cost">Cost <span style="color: red">*</span></label>
                        <input required name="dt_cost" id="dt_cost" type="number" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="dt_drop_cost">Drop fee after deadline <span style="color: red">*</span></label>
                        <input required name="dt_drop_cost" id="dt_drop_cost" type="number" class="form-control" />
                    </div>

                    <button type="button" onclick="removeField(this)" class="btn btn-danger" style="margin-bottom: 15px"><i class="fa fa-remove"></i> Remove field</button>
                </div>
            </div>
        </form>
    </script>

    <script type="text/html" id="fields-template">
        <form id="fields_$1">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-bottom: 0">
                    <div class="form-group">
                        <label for="attr">Label</label>
                        <input name="label" class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <label for="attr">Type</label>
                        <select name="type" onchange="_showFields($1, this.value)" class="form-control">
                            {% for type in attribute_types %}
                                <option value="{{ loop.index0 }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="fields_$1_text">
                        <div class="form-group">
                            <label for="attr">Placeholder</label>
                            <input name="placeholder" type="text" class="form-control" />
                        </div>
                    </div>

                    <div id="fields_$1_dropdown" style="display: none">
                        <div class="form-group">
                            <p><b>Items:</b> <button type="button" onclick="_addDropdownItem($1)" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Add item</button></p>
                            <div id="fields_$1_dropdown_items">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="attr">Help text</label>
                        <input name="help_text" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="attr">Required</label>
                        <select name="required" class="form-control">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>

                    <button type="button" onclick="removeField(this)" class="btn btn-danger" style="margin-bottom: 15px"><i class="fa fa-remove"></i> Remove field</button>
                </div>
            </div>
        </form>
    </script>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/jquery.inputmask.bundle.min.js"></script>
    <script>
        $('#reg_start').inputmask('yyyy/mm/dd');
        $('#reg_deadline').inputmask('yyyy/mm/dd');
        $('#drop_deadline').inputmask('yyyy/mm/dd');
        $('#start_date').inputmask('yyyy/mm/dd');
        $('#end_date').inputmask('yyyy/mm/dd');
    </script>

    <script>
        var fields_count = {debates: {{ data.events|length }}, fields: {{ attributes|length }}};

        String.prototype.replaceAll = function(search, replacement) {
            var target = this;
            return target.replace(new RegExp(search, 'g'), replacement);
        };

        function addNewObject(id)
        {
            var field_template = $("#" + id + '-template').html().replaceAll(/\$1/, fields_count[id]);
            $("#" + id).append(field_template);
            $('html, body').animate({
                scrollTop: $("#"+ id +"_" + fields_count[id]).offset().top - 25
            }, 1000);
            fields_count[id]++;
        }

        function removeField(object, type, id)
        {
            if (type !== undefined && id !== undefined)
            {
                $.post('/admin/tournament/edit/{{ data.tournament.id }}/delete', {type: type, id: id});
            }
            // check if persisted field
            $(object).parent().parent().parent().remove();
        }

        function _getDataFromFormConstructor(name)
        {
            var data = [];
            $("#" + name).children().each(function() {
                var id = $(this).data('id');
                var ser = _serializeToObject($(this).serializeArray());
                ser["id"] = id;
                ser["editable"] = 0;
                data.push(ser);
            });
            return data;
        }

        function persistData()
        {
            var fields = _getDataFromFormConstructor('fields');
            var debates = _getDataFromFormConstructor('debates');
            var tournament_name = $("#tournament_name").val();
            var reg_start = $("#reg_start").val();
            var reg_deadline = $("#reg_deadline").val();
            var approve_method = $("#approve_method").val();
            var drop_deadline = $("#drop_deadline").val();

            $.post(window.location, {
                name: tournament_name,
                reg_start: reg_start,
                reg_deadline: reg_deadline,
                drop_deadline: drop_deadline,
                approve_method: approve_method,
                events: debates,
                fields: fields,
                start_date: $("#start_date").val(),
                end_date: $("#end_date").val(),
                description: $("#description").val()
            }, function(response) {
                window.location = window.location; // refresh page scroll
            });
        }

        function _serializeToObject(data)
        {
            var object = {};
            data.forEach(function(item) {
                if (item.name == 'dropdown_item' && object[item.name] === undefined)
                {
                    object[item.name] = [];
                    object[item.name].push(item.value);
                }
                else
                {
                    if (item.name == 'dropdown_item')
                    {
                        object[item.name].push(item.value);
                    }
                    else
                    {
                        object[item.name] = item.value;
                    }
                }
            });
            return object;
        }

        function _addDropdownItem(attr_id)
        {
            var template = '<div class="form-group form-inline"><input type="text" name="dropdown_item" class="form-control" style="width:300px; margin-right: 10px"><button onclick="_removeDropdownItem(this)" class="btn btn-danger"><i class="fa fa-remove"></i></button></div>';
            $("#fields_"+ attr_id +"_dropdown_items").append(template);
        }

        function _removeDropdownItem(object)
        {
            $(object).parent().remove();
        }

        function _showFields(attr_id, value)
        {
            if (value == 0)
            {
                $("#fields_"+ attr_id +"_dropdown").hide();
                $("#fields_"+ attr_id +"_text").show();
            }
            else if (value == 1 || value == 2)
            {
                $("#fields_"+ attr_id +"_text").hide();
                $("#fields_"+ attr_id +"_dropdown").show();
            }
            else if (value == 3)
            {
                $("#fields_"+ attr_id +"_dropdown").hide();
                $("#fields_"+ attr_id +"_text").hide();
            }
        }
    </script>
{% endblock %}