{% extends 'layout.twig' %}
{% block title %}
    Tournament "{{ tournament.tournament.name }}" members list
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        {% for event_status in event_statuses %}
            <li class="{{ global.request.get('event') == loop.index0 ? 'active' : '' }}"><a href="/admin/tournament/members/{{ global.request.get('tournamentId') }}?event={{ loop.index0 }}">{{ event_status }}</a></li>
        {% endfor %}
    </ul>

    {% if list|length %}
        <table style="margin-top: 20px" class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Event</th>
                    <th>User</th>
                    <th>Partner</th>
                    <th>Join information</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.own_name }} (<a target="_blank" href="/user/profile?user_id={{ item.own_id }}">{{ item.own_email }}</a>)</td>
                        <td>
                            {% if not item.par_id is null %}
                                {{ item.par_name }} (<a target="_blank" href="/user/profile?user_id={{ item.par_id }}">{{ item.par_email }}</a>)
                            {% else %}
                                No
                            {% endif %}
                        </td>
                        <td>
                            <a href="/tournament/view/{{ item.id }}?user_id={{ item.own_id }}" target="_blank" class="btn btn-xs btn-info"><i class="fa fa-eye"></i> View</a>
                        </td>
                        <td>
                            {% if global.request.get('event') == 0 %}
                                <button onclick="setDecision(this, {{ item.id }}, 1)" class="btn btn-xs btn-success"><i class="fa fa-check"></i> Approve</button>
                                <button onclick="setDecision(this, {{ item.id }}, 0)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Decline</button>
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="margin-top: 20px">No applicants found.</p>
    {% endif %}

    <script>
        function setDecision(obj, id, state)
        {
            $.post('/admin/tournament/approve/{{ global.request.get('tournamentId') }}/decision', {id: id, state: state}, function (response) {
                $(obj).parent().parent().remove();
            });
        }
    </script>
{% endblock %}