{% extends 'layout.twig' %}
{% block title %}
    Members groups
{% endblock %}

{% block content_header %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" style="width: 100%">Create new members group</h3>
        </div>
        <div class="box-body">
            <form method="post" action="/admin/groups/create">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" type="text" required id="name" class="form-control" />
                </div>
                <div class="form-group">
                    <input name="joinable" type="checkbox" checked id="joinable" />
                    <label for="joinable">Can user join</label>
                </div>
                <button class="btn btn-success btn-block"><i class="fa fa-plus"></i> Create group</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if list|length %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Can user join</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for id, item in list %}
                    <tr>
                        <td>{{ id }}</td>
                        <td id="group_{{ id }}">{{ item.name }}</td>
                        <td>{{ item.joinable == 0 ? 'No' : 'Yes' }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="/admin/email/send/2?group_id={{ id }}"><i class="fa fa-paper-plane"></i> Send mass email</a>
                            {% if item.joinable == 0 %}
                                <a class="btn bg-purple btn-xs" href="/admin/groups/members/{{ id }}"><i class="fa fa-users"></i> Manage members</a>
                            {% endif %}
                            <button onclick="editGroup({{ id }})" class="btn btn-xs btn-info"><i class="fa fa-pencil"></i> Edit name</button>
                            <button onclick="removeGroupConfirm({{ id }})" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Remove</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No groups</p>
    {% endif %}

    <div class="modal modal-danger fade" id="delete-group-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Deleting user group</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this user group? <b> Deleting this user group will permanently delete information about members in this group without any restore.</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete-group-confirm-button" data-id="" onclick="removeGroup()" class="btn btn-outline"><i class="fa fa-check"></i> Yes</button>
                    <button type="button" data-dismiss="modal" class="btn btn-outline"><i class="fa fa-times"></i> No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-group">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit user group</h4>
                </div>
                <form method="post" action="/admin/groups/edit">
                <div class="modal-body">
                        <input id="edit-group-id" type="hidden" name="id" />
                        <div class="form-group">
                            <label for="edit-group-name">User group name</label>
                            <input id="edit-group-name" type="text" name="name" class="form-control" />
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function removeGroupConfirm(id)
        {
            $("#delete-group-confirm-button").data('id', id);
            $("#delete-group-confirm").modal('show');
        }

        function editGroup(id)
        {
            var value = $("#group_" + id).text();
            $("#edit-group-id").val(id);
            $("#edit-group-name").val(value);
            $("#edit-group").modal('show');
        }

        function removeGroup()
        {
            $.post('/admin/groups/delete', {id: $("#delete-group-confirm-button").data('id')}, function(response)
            {
               window.location = window.location;
            });
        }
    </script>
{% endblock %}