{% extends 'layout.twig' %}
{% block title %}
    Send mass email {{ appendix }}
{% endblock %}

{% block content_header %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" style="width: 100%">Email sent to:</h3>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Parent email</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                {% for user in list %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td><a href="/user/profile?user_id={{ user.id }}">{{ user.email }}</a></td>
                        <td>{{ user.full_name }}</td>
                        <td>{{ user.parent_email ? user.parent_email : '-' }}</td>
                        <td>{{ roles[user.role] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <script>
                $(function() {
                    $("table").tablesorter({
                    });
                });
            </script>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form onsubmit="return check()" method="post">
        <div class="form-group">
            <label for="subject">Subject <span style="color: red">*</span></label>
            <input required name="subject" id="subject" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <input name="parents_send" id="parents_send" type="checkbox" />
            <label for="parents_send">Send to parents only</label>
        </div>
        <div class="form-group">
            <input name="students_send" id="students_send" type="checkbox" />
            <label for="students_send">Send to students only</label>
        </div>
        <div class="form-group">
            <label for="template">Content <span style="color: red">*</span></label>
            <textarea required rows=15 class="form-control" name="content" id="template"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-paper-plane"></i> Send</button>
    </form>

    <script>
        function check()
        {
            if ($("#students_send:checked").length == 1 && $("#parents_send:checked").length == 1)
            {
                alert('You can choose only one "Send to" parameter!');
                return false;
            }
            else
            {
                return true;
            }
        }
    </script>
{% endblock %}