{% extends 'layout.twig' %}
{% block title %}
    System settings
{% endblock %}

{% block content %}
    <form method="POST">
        {% for setting in system_settings.all %}
            <div class="form-group">
                <label for="{{ setting.name }}">{{ setting.label }}</label>
                {% if setting.boolean == 1 %}
                     <select name="{{ setting.name }}" class="form-control">
                         <option {{ (setting.value == 0) ? 'selected' : '' }} value="0">No</option>
                         <option {{ (setting.value == 1) ? 'selected' : '' }} value="1">Yes</option>
                     </select>
                {% elseif setting.dropdown is not null %}
                    <select name="{{ setting.name }}" class="form-control">
                        {% for drop in setting.dropdown %}
                            <option {{ (loop.index0 == setting.value) ? 'selected' : '' }} value="{{ loop.index0 }}">{{ drop }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    {% if setting.name == 'email_signature' or setting.name == 'membership_text' or setting.name == 'membership_registration_description' %}
                        <textarea class="form-control" rows="6" id="{{ setting.name }}" name="{{ setting.name }}">{{ setting.value }}</textarea>
                    {% else %}
                        {% if setting.name == 'public_stripe_key' or setting.name == 'private_stripe_key' %}
                            {% if setting.value != '' %}
                                {% set masked = '' %}
                                {% for i in 0..setting.value|length - 4 %}
                                    {% set masked = masked ~ '*' %}
                                {% endfor %}
                                {% set masked = masked ~ setting.value|slice(-4) %}
                                <input name="{{ setting.name }}" placeholder="{{ masked }}" type="text" class="form-control" id="{{ setting.name }}">
                            {% else %}
                                <input name="{{ setting.name }}" value="{{ setting.value }}" type="text" class="form-control" id="{{ setting.name }}">
                            {% endif %}
                        {% else %}
                            <input name="{{ setting.name }}" value="{{ setting.value }}" type="text" class="form-control" id="{{ setting.name }}">
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary"><i class="fa fa-cog"></i> Save settings</button>
    </form>
{% endblock %}