{% extends 'layout.twig' %}
{% block title %}
    Edit registration form
{% endblock %}

{% block content_header %}
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" style="width: 100%">Help</h3>
        </div>
        <div class="box-body">
            <h4>There is example form:</h4>
            <div class="panel panel-default">
                <div class="panel-body" style="padding-bottom: 0">
                    <div class="form-group">
                        <label for="attr">Label</label>
                        <input class="form-control" type="text" placeholder="Placeholder" />
                        <p class="help-block">Help text</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/html" id="input_template">
        <form id="attr_$1">
            <div class="panel panel-default">
                <div class="panel-body" style="padding-bottom: 0">
                    <div class="form-group">
                        <label for="attr">Label</label>
                        <input name="label" class="form-control" type="text" />
                    </div>

                    <div class="form-group">
                        <label for="attr">Type</label>
                        <select name="type" onchange="_showFields($1, this.value)" class="form-control">
                            {% for type in attribute_types %}
                                <option value="{{ loop.index0 }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="attr_$1_text">
                        <div class="form-group">
                            <label for="attr">Placeholder</label>
                            <input name="placeholder" type="text" class="form-control" />
                        </div>
                    </div>

                    <div id="attr_$1_dropdown" style="display: none">
                        <div class="form-group">
                            <p><b>Items:</b> <button type="button" onclick="_addDropdownItem($1)" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Add item</button></p>
                            <div id="attr_$1_dropdown_items">

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="attr">Help text</label>
                        <input name="help_text" type="text" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="attr">Required</label>
                        <select name="required" class="form-control">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="attr">Editable</label>
                        <select name="editable" class="form-control">
                            <option value="0">No</option>
                            <option value="1">Yes</option>
                        </select>
                    </div>
                    <button type="button" onclick="removeField(this)" class="btn btn-danger" style="margin-bottom: 15px"><i class="fa fa-remove"></i> Remove field</button>
                </div>
            </div>
        </form>
    </script>
{% endblock %}

{% block content %}
    <button onclick="addNewField()" class="btn btn-primary"><i class="fa fa-plus"></i> Add new field</button>
    <button onclick="saveFields()" class="btn btn-success"><i class="fa fa-save"></i> Save changes</button>

    <div id="fields" style="margin-top: 20px">
        {% for attribute in attributes %}
            <form id="attr_{{ loop.index0 }}" data-id="{{ attribute.id }}">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding-bottom: 0">
                        <div class="form-group">
                            <label for="attr">Label</label>
                            <input name="label" value="{{ attribute.label }}" class="form-control" type="text" />
                        </div>

                        <div class="form-group">
                            <label for="attr">Type</label>
                            <select disabled name="type" onchange="_showFields({{ loop.index0 }}, this.value)" class="form-control">
                                {% for type in attribute_types %}
                                    <option {{ (attribute.type == loop.index0) ? 'selected' : '' }} value="{{ loop.index0 }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div id="attr_{{ loop.index0 }}_text" style="display: {{ (attribute.type != 1) ? 'block' : 'none' }}">
                            <div class="form-group">
                                <label for="attr">Placeholder</label>
                                <input value="{{ attribute.placeholder }}" name="placeholder" type="text" class="form-control" />
                            </div>
                        </div>

                        <div id="attr_{{ loop.index0 }}_dropdown" style="display: {{ (attribute.type == 1) ? 'block' : 'none' }}">
                            <div class="form-group">
                                <p><b>Items:</b> <button type="button" onclick="_addDropdownItem({{ loop.index0 }})" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> Add item</button></p>
                                <div id="attr_{{ loop.index0 }}_dropdown_items">
                                    {% if attribute.type == 1 %}
                                        {% for item in attribute.data %}
                                            <div class="form-group form-inline">
                                                <input value="{{ item }}" type="text" name="dropdown_item" class="form-control" style="width:300px; margin-right: 10px">
                                                <button onclick="_removeDropdownItem(this)" class="btn btn-danger"><i class="fa fa-remove"></i></button>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="attr">Help text</label>
                            <input value="{{ attribute.help_text }}" name="help_text" type="text" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="attr">Required</label>
                            <select name="required" class="form-control">
                                <option {{ (attribute.required) ? '' : 'selected' }} value="0">No</option>
                                <option {{ (attribute.required) ? 'selected' : '' }} value="1">Yes</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="attr">Editable</label>
                            <select name="editable" class="form-control">
                                <option {{ (attribute.editable) ? '' : 'selected' }} value="0">No</option>
                                <option {{ (attribute.editable) ? 'selected' : '' }} value="1">Yes</option>
                            </select>
                        </div>
                        <button type="button" onclick="removeConfirmField({{ attribute.id }}, this)" class="btn btn-danger" style="margin-bottom: 15px"><i class="fa fa-remove"></i> Remove field</button>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>

    <div class="modal modal-danger fade" id="delete-attribute-confirm">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Deleting attribute</h4>
                </div>
                <div class="modal-body">
                    <p>Do you really want delete this attribute? <b>This action delete attribute data from ALL users without any restore.</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="removePersistedField('/admin/signup/delete')" class="btn btn-outline"><i class="fa fa-check"></i> Yes</button>
                    <button type="button" data-dismiss="modal" class="btn btn-outline"><i class="fa fa-times"></i> No</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var fields_count = {{ attributes|length }};
    </script>
    <script src="/assets/js/admin/attribute-editor.js"></script>
{% endblock %}