{% extends 'layout.twig' %}
{% block title %}
    Transactions list
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        {% for type in types %}
            <li class="{{ global.request.get('type') == loop.index0  ? 'active' : '' }}"><a href="/admin/transactions/list?type={{ loop.index0 }}">{{ type }}</a></li>
        {% endfor %}
        <li class="{{ global.request.get('type') == -1 ? 'active' : '' }}"><a href="/admin/transactions/list?type=-1">All</a></li>
    </ul>

    {% if list|length %}
        <table style="margin-top: 20px" class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Amount</th>
                    <th>Created at</th>
                    <th>Tournament</th>
                    <th>Event</th>
                    <th>Created by</th>
                    <th>Memo 1</th>
                    <th>Memo 2</th>
                    <th>Memo 3</th>
                    <th>Memo 4</th>
                    <th>Memo 5</th>
                    {% if user.role == 5 %}<th>Actions</th>{% endif %}
                </tr>
            </thead>
            <tbody>
                {% for item in list %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.user_fullname }} (<a href="/user/profile?user_id={{ item.user_id }}">{{ item.user_email }}</a>)</td>
                        <td data-amount="{{ item.amount }}"><span class="text-{{ (item.amount < 0) ? 'danger' : 'success' }}">{{ ('$' ~ item.amount|number_format(2, '.', ','))|replace({"$-": "-$"}) }}</span></td>
                        <td>{{ item.timestamp|date('m/d/Y h:i A') }}</td>
                        <td>{{ item.tournament_name ? item.tournament_name : '-' }}</td>
                        <td>{{ item.event_name ? item.event_name : '-' }}</td>
                        <td>
                            {% if item.creator_id == 0 %}
                                System
                            {% else %}
                                {{ item.creator_fullname }} (<a href="/user/profile?user_id={{ item.c_creator_id }}">{{ item.creator_email }}</a>)
                            {% endif %}
                        </td>
                        <td>{{ item.memo_1 }}</td>
                        <td>{{ item.memo_2 }}</td>
                        <td>{{ item.memo_3 }}</td>
                        <td>{{ item.memo_4 }}</td>
                        <td>{{ item.memo_5 }}</td>
                        {% if user.role == 5 and item.type != 0 %}
                            <td>
                                <button onclick="deleteTransaction({{ item.id }})" class="btn btn-danger btn-xs"><i class="fa fa-remove"></i> Delete</button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="margin-top: 20px">No transactions found.</p>
    {% endif %}

    {% if user.role == 5 %}
        <div class="modal modal-danger fade" id="delete-transaction-confirm">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Deleting transaction</h4>
                    </div>
                    <div class="modal-body">
                        <p>Do you really want delete this transaction? <b>This action will delete this transaction without any restore.</b></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="deleteTransactionConfirmed()" class="btn btn-outline"><i class="fa fa-check"></i> Yes</button>
                        <button type="button" data-dismiss="modal" class="btn btn-outline"><i class="fa fa-times"></i> No</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function deleteTransaction(tId)
            {
                window.transaction_id = tId;
                $("#delete-transaction-confirm").modal('show');
            }

            function deleteTransactionConfirmed()
            {
                $.post('/admin/users/transactions/delete', {id: window.transaction_id}, function(response)
                {
                    window.location.reload();
                });
            }
        </script>
    {% endif %}

    <script>
        $(function() {
            $("table").tablesorter({
                headers: {
                    2: {
                        sorter:'balance'
                    }
                }
            });
        });
    </script>
{% endblock %}