{% extends 'layout.twig' %}

{% block content_header %}

    {% if admin_mode is defined %}
        <div class="alert bg-blue-gradient alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-user"></i> Admin mode</h4>
            You are viewing <b>{{ view_user.fullname }} (<a target="_blank" href="/user/profile?user_id={{ view_user.id }}">{{ view_user.email }}</a>)</b> balance
        </div>
    {% endif %}

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title" style="width: 100%">Balance</h3>
        </div>
        <div class="box-body">
            {% set user_balance = (admin_mode is defined) ? view_user.balance : user.balance %}
            <h4>Your current balance: {{ user_balance|number_format(2, '.', ',') }}$</h4>

            {% if admin_mode is defined %}
                <button class="btn btn-primary" data-toggle="modal" data-target="#add-transaction"><i class="fa fa-plus"></i> Create transaction</button>
                <div class="modal fade" id="add-transaction">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Create new transaction to user {{ view_user.fullName }}</h4>
                            </div>
                            <form method="post" action="/admin/users/transactions/add">
                                <div class="modal-body">
                                    <input type="hidden" name="user_id" value="{{ view_user.id }}" />
                                    <div class="form-group">
                                        <label for="amount">Amount <span style="color: red">*</span></label>
                                        <input name="amount" type="number" required class="form-control" id="amount">
                                    </div>
                                    <div class="form-group">
                                        <label for="memo1">Memo 1 <span style="color: red">*</span></label>
                                        <input name="memo1" type="text" required class="form-control" id="memo1" placeholder="Reason">
                                    </div>
                                    <div class="form-group">
                                        <label for="memo2">Memo 2</label>
                                        <input name="memo2" type="text" class="form-control" id="memo2">
                                    </div>
                                    <div class="form-group">
                                        <label for="memo3">Memo 3</label>
                                        <input name="memo3" type="text" class="form-control" id="memo3">
                                    </div>
                                    <div class="form-group">
                                        <label for="memo4">Memo 4</label>
                                        <input name="memo4" type="text" class="form-control" id="memo4">
                                    </div>
                                    <div class="form-group">
                                        <label for="memo5">Memo 5</label>
                                        <input name="memo5" type="text" class="form-control" id="memo5">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Create transaction</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block title %}
    Transaction history
{% endblock %}

{% block content %}
    {% if history|length > 0 %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
                {% for transaction in history %}
                    <tr>
                        <td>{{ transaction.id }}</td>
                        <td><span class="text-{{ (transaction.amount < 0) ? 'danger' : 'success' }}">{{ transaction.amount|number_format(2, '.', ',') }}$</span></td>
                        <td>{{ transaction.timestamp|replace({'-': '/'}) }}</td>
                        <td>{{ transaction.memo_1 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>You don't have any transactions.</p>
    {% endif %}

{% endblock %}