{% extends 'layout.twig' %}
{% block title %}
    My profile
{% endblock %}

{% block content_header %}
    {% if admin_mode is defined %}
        <div class="alert bg-blue-gradient alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-user"></i> Admin mode</h4>
            You are viewing <b>{{ view_user.fullname ~ ' ('~ view_user.email ~')' }}</b> user profile
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <style>
        .user-profile li
        {
            position: relative;
            display: block;
            padding: 10px 15px;
        }
    </style>
    {% set admin_user = user %}
    {% set user = (admin_mode is defined ? view_user : user) %}
    <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-blue-gradient">
            <p style="float:right">
                {% if admin_mode is defined %}
                    {% if not (admin_user.role == 4 and (user.role == 4 or user.role == 5)) %}
                        <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#edit-role-modal"><i class="fa fa-user"></i> Change user role</button>
                    {% endif %}
                    <a  href="/user/balance?user_id={{ user.id }}" class="btn btn-sm btn-success"><i class="fa fa-money"></i> User transactions</a>
                {% endif %}
                <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#edit-profile-modal"><i class="fa fa-pencil"></i> Change information</button>
            </p>
            <div class="widget-user-image">
                <img class="img-circle" src="/assets/img/placeholder.png" alt="User Avatar">
            </div>
            <!-- /.widget-user-image -->
            <h3 class="widget-user-username">{{ user.fullName }}</h3>
            <h5 class="widget-user-desc">{{ user.username }}</h5>
        </div>
        <div class="box-footer no-padding">
            <ul class="nav nav-stacked user-profile">
                {% if admin_mode is defined %}
                    <li><b>Role:</b> {{ roles[user.role] }}</li>
                {% endif %}
                <li><b>Email:</b> {{ user.email }}</li>
                <li><b>First name:</b> {{ user.firstName }}</li>
                <li><b>Last name:</b> {{ user.lastName }}</li>
                <li><b>Parent first name:</b> {{ (user.parentFirstName) ? user.parentFirstName : 'Not specified' }}</li>
                <li><b>Parent last name:</b> {{ (user.parentLastName) ? user.parentLastName : 'Not specified' }}</li>
                <li><b>Parent email:</b> {{ (user.parentEmail) ? user.parentEmail : 'Not specified' }}</li>
                <li><b>Groups: </b>
                    {% if user_groups|length %}
                        {% for group in user_groups %}
                            <span class="label label-primary">{{ group }}</span>
                        {% endfor %}
                    {% else %}
                        No
                    {% endif %}
                </li>
                {% for attribute in attributes %}
                    <li><b>{{ attribute.label }}</b>:
                        {% if attribute.type == 2 %}
                            {{ (not attribute.value is null) ? attribute.value|join(', ') : 'Not specified' }}
                        {% elseif attribute.type == 3 %}
                            {% if attribute.value %}
                                <button type="button" onclick="showAttach({{ attribute.user_attr_id }})" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> View</button>
                            {% else %}
                                Not specified
                            {% endif %}
                        {% else %}
                            {{ (not attribute.value is null) ? attribute.value : 'Not specified' }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% if admin_mode is defined %}
        <div class="modal fade" id="edit-role-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Change role of user {{ view_user.fullName }}</h4>
                    </div>
                    <form method="post" action="/admin/users/role/set">
                        <div class="modal-body">
                            <input type="hidden" name="user_id" value="{{ user.id }}" />
                            <p>Current user role is: <b>{{ roles[user.role] }}</b></p>
                            <div class="form-group">
                                <label for="new_role">New role <span style="color: red">*</span></label>
                                <select id="new_role" class="form-control" name="new_role">
                                    {% for id, role in roles %}
                                        {% if id != 0 %}
                                            <option {{ (admin_user.role == 4 and (id == 4 or id == 5)) ? 'disabled' : '' }} value="{{ id }}">{{ role }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Set new role</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Edit profile modal -->
        <div class="modal fade" id="edit-profile-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit profile</h4>
                </div>
                <form enctype="multipart/form-data" method="post" id="edit-profile-form" action="/user/profile/save">
                {% if admin_mode is defined %}
                    <input type="hidden" name="user_id" value="{{ user.id }}" />
                {% endif %}
                <div class="modal-body">

                    <div class="alert alert-danger alert-dismissible" id="error-message" style="display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-ban"></i> Something went wrong</h4>
                        <span id="error-message-text"></span>
                    </div>

                        <div class="form-group">
                            <label for="email">Email address <span style="color: red">*</span></label>
                            <input name="email" value="{{ user.email }}" type="email" required class="form-control" id="email" placeholder="Email">
                        </div>

                        <div class="form-group">
                            <label for="first_name">First name <span style="color: red">*</span></label>
                            <input name="first_name" value="{{ user.firstName }}" type="text" required class="form-control" id="first_name" placeholder="ex. Alex">
                        </div>

                        <div class="form-group">
                            <label for="last_name">Last name <span style="color: red">*</span></label>
                            <input name="last_name" value="{{ user.lastName }}" type="text" required class="form-control" id="last_name" placeholder="ex. Hoffman">
                        </div>

                        <div class="form-group">
                            <label for="parent_email">Parent email <span style="color: red">*</span></label>
                            <input required name="parent_email" value="{{ user.parentEmail }}" type="email" class="form-control" id="parent_email" placeholder="Parent email">
                        </div>

                        <div class="form-group">
                            <label for="parent_first_name">Parent first name <span style="color: red">*</span></label>
                            <input required name="parent_first_name" value="{{ user.parentFirstName }}" type="text" class="form-control" id="parent_first_name" placeholder="ex. Alex">
                        </div>

                        <div class="form-group">
                            <label for="parent_last_name">Parent last name <span style="color: red">*</span></label>
                            <input required name="parent_last_name" value="{{ user.parentLastName }}" type="text" class="form-control" id="parent_last_name" placeholder="ex. Hoffman">
                        </div>

                        {% if groups|length %}
                            <div class="form-group">
                                <label for="groups">Groups</label>
                                {% for id, group in groups %}
                                    {% set checked = id in user_groups|keys ? 'checked' : '' %}
                                    <div>
                                        <input {{ checked }} onclick="changeGroup(this, {{ id }})" id="group_{{ id }}" type="checkbox">
                                        <label style="font-weight: normal;" for="group_{{ id }}">{{ group }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for attribute in attributes %}
                            {% set attribute = (admin_mode is defined) ? attribute|merge({'editable': true}) : attribute %}
                            <div class="form-group">
                                <label for="attr_{{ attribute.id }}">{{ attribute.label }} {{ (attribute.required) ? '<span style="color: red">*</span>' : '' }}</label>
                                {% if attribute.type == 0 %}
                                    <input {{ not attribute.editable ? 'readonly' : ''  }} {{ (attribute.required) ? 'required' : '' }} value="{{ attribute.value }}" name="attr_{{ attribute.id }}" type="text" class="form-control" id="attr_{{ attribute.id }}" placeholder="{{ attribute.placeholder }}">
                                {% elseif attribute.type == 1 %}
                                    <select {{ not attribute.editable ? 'readonly' : ''  }} {{ (attribute.required) ? 'required' : '' }} class="form-control" name="attr_{{ attribute.id }}">
                                        {% for item in attribute.data %}
                                            <option {{ (item == attribute.value) ? 'selected' : '' }} value="{{ loop.index0 }}">{{ item }}</option>
                                        {% endfor %}
                                    </select>
                                {% elseif attribute.type == 2 %}
                                    {% for item in attribute.data %}
                                        {% set checked = item in attribute.value ? 'checked' : '' %}
                                        <div>
                                            <input {{ checked }} onclick="{{ (not attribute.editable) ? 'return false;' : '' }}" class="{{ (attribute.required) ? 'required_checkbox' : '' }}" type="checkbox" id="attr_{{ attribute.id }}_{{ loop.index0 }}" name="attr_{{ attribute.id }}[]" value="{{ loop.index0 }}">
                                            <label style="font-weight: normal;" for="attr_{{ attribute.id }}_{{ loop.index0 }}">{{ item }}</label>
                                        </div>
                                    {% endfor %}
                                {% elseif attribute.type == 3 %}
                                    {% if attribute.value %}
                                        <p><button onclick="showAttach({{ attribute.user_attr_id }})" class="btn btn-success btn-xs"><i class="fa fa-eye"></i> View</button></p>
                                    {% else %}
                                        <p>Not specified</p>
                                    {% endif %}
                                    {% if attribute.editable %}
                                        <input {{ (attribute.required) ? 'required' : '' }} name="attr_{{ attribute.id }}" type="file" accept="application/pdf" id="attr_{{ attribute.id }}" />
                                    {% endif %}
                                {% endif %}

                                {% if attribute.help_text %}
                                    <p class="help-block">{{ attribute.help_text }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <script>

        function changeGroup(obj, id)
        {
            var checked = $(obj).prop('checked') === true ? 1 : 0;
            {% if admin_mode is defined %}
                $.post('/user/group/save?user_id={{ user.id }}', {id: id, check: checked});
            {% else %}
                $.post('/user/group/save', {id: id, check: checked});
            {% endif %}
        }

        function showAttach(id)
        {
            {% if admin_mode is defined %}
            window.open('/attachment/' + id + '?user_id={{ user.id }}', '_blank');
            {% else %}
            window.open('/attachment/' + id, '_blank');
            {% endif %}
        }

        var form = document.getElementById('edit-profile-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            function checkboxes_validate()
            {
                var status = true;
                // validate checkboxes
                var required_checkboxes = [];
                $(".required_checkbox").each(function() {
                    if (required_checkboxes.indexOf($(this)[0].name) == -1)
                    {
                        required_checkboxes.push($(this)[0].name);
                    }
                });

                required_checkboxes.forEach(function(item) {
                    var item_accessor = $("input[name='"+ item +"']");
                    item_accessor.parent().parent().removeClass('has-error');
                    if ($("input[name='"+ item +"']:checked").length == 0)
                    {
                        item_accessor.parent().parent().addClass('has-error');
                        status = false;
                        return;
                    }
                });

                return status;
            }

            if (!checkboxes_validate()) return false;
            form.submit();
        });

    </script>
{% endblock %}